@charset "utf-8";

header {
    background-color:gray;
    width:100%;
    height:70px;
    position:fixed;
    top:0;
    z-index:10;

}

.header-left img {
    height:70px;
    width:150px;
    position:absolute;
    left:0;
    top:0;
}


.header-right {
    margin-left:40px
}

.header-right li {
    padding:0 53px;
    float:left;
    list-style:none;
    
    
    

}

.header-right a {
    color:black;
    display:inline-block;
    line-height:50px;
    display:inline;
}

.header-right li:hover {
    background-color:white;
}

footer {
    border-top:2px solid gray;
    height:120px;
    background-color:black;
    position:relative;
    color:white;

}

.footer-left img {
    float:left;
    width:200px;
    height:100px;
    position:center center;
}

.footer-right {
    float:right;
    position:absolute;
    bottom:0;
    right:10px;
    font-size:20px;
}


main {
    background-image:url(img/soccer-baseball_main001.jpg);
    background-size:cover;
    color:white;
    position:relative;
    text-align:center;
    width:100%;
    height:1500px;

}

main p {
    font-size:40px;
}

main h1 {
    font-size:70px;
}

