@charset "utf-8";

header {
    background-color:gray;
    width:100%;
    height:70px;
    position:fixed;
    top:0;
    z-index:10;

}

.header-left img {
    height:70px;
    width:150px;
    position:absolute;
    left:0;
    top:0;
}


.header-right {
    margin-left:40px
}

.header-right li {
    padding:0 53px;
    float:left;
    list-style:none;
    
    
    

}

.header-right a {
    color:black;
    display:inline-block;
    line-height:50px;
    display:inline;
}

.header-right li:hover {
    background-color:white;
}



.top-wrapper {
    background-image:url(img/IMG_0001.jpeg);
    background-size:cover;
    text-align:center;
    width:100%;
    padding:400px 0 300px 0;
    height:100%;
    background-position:center center;

}

.top-wrapper h1 {
    
    top:40%;
    left:25%;
    font-size:70px;
    color:white;
    opacity:0.8;
}

.top-wrapper h2 {
    
    top:65%;
    left:25%;
    font-size:50px;
    color:white;
    opacity:0.8;
    margin-bottom:500px;
}

.container {
    width:100%;
    margin: 0 auto;
}

.instagram {
    background-color:orangered;
    opacity:0.7;
    margin-right:15px;
}

.facebook {
    background-color:#3b5998;
    opacity:0.7;
    margin-right:15px;
}

.twitter {
    background-color:#55acee;
    opacity:0.7;
}

.btn {
    color:white;
}

footer {
    border-top:2px solid gray;
    height:120px;
    background-color:black;
    position:relative;
    color:white;

}

.footer-left img {
    float:left;
    width:200px;
    height:100px;
    position:center center;
}

.footer-right {
    float:right;
    position:absolute;
    bottom:0;
    right:10px;
    font-size:20px;
}


